extends layout.pug

append head 
    link(rel="stylesheet" type="text/css" href="/stylesheets/add-game.css")
    script(src="/javascripts/add-game.js" type="module" defer)

block content
    if errors
        div.login-error
            p Oops! Something went wrong:
            ul
                each error in errors
                    li= error
    if user
        div#addGameBody__container
            h1 Add A Game
            div.addGame__container
                form(action="/games/add-game", method="post" class="new-game-form")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div.addGame__inputBlock
                        label(for="gameName") Game Name
                        input(type="text" name="gameName" id="gameName")
                    div.addGame__inputBlock
                        label(for="bio") Game Bio
                        input(type="text" name="bio" id="bio")
                    div.addGame__inputBlock
                        label(for="releaseDate") Release Date (YYYY-MM-DD)
                        input(type="releaseDate" name="releaseDate" id="releaseDate")
                    div.addGame__inputBlock
                        label(for="developer") Developer
                        input(type="text" name="developer" id="developer")
                    div.addGame__inputBlock
                        label(for="imgUrl") Image URL
                        input(type="imgUrl" name="imgUrl" id="imgUrl")
                    div.platformsContainer
                        label(class="availablePlatforms") Available Platforms
                        each platform in primaryPlatforms
                            div.primaryPlatform__checkbox
                                label= platform.name
                                input(type="checkbox" class="checkbox" name="platformId" value=platform.id)
                    h2.platformDisplay Please click here to display older platforms
                    div.olderConsoles--hidden
                        each platform in platforms
                            div.platform__checkbox--hidden
                                label(for="platformId")= platform.name
                                input(type="checkbox" class="checkbox" name="platformId" value=platform.id)
                            
                    div.addGame__inputBlock
                        button#addGame__btn(type="submit") Submit Game
