extends layout.pug

append head 
  link(rel="stylesheet", href="stylesheets/single-game.css")
  if reviewByUser 
    script(src="/javascripts/reviewsEditDelete.js" type="module" defer)
  else 
    script(src="/javascripts/reviews.js" type="module" defer)

block content
  div#game__title 
    h1= game.gameName
  div#gameBody__container
    div#main__content
      div#gameImg__container
        img(src=game.imgUrl)
      div#game__container
        div#game__main
          div#data__left
            div#gameRelease
              h3.header Release Date
              h4= game.releaseDate
            div#gameDeveloper
              h3.header Developer
              h4= game.developer
            div#gamePlatforms
              h3.header Platform(s)
              each platform in platforms
                h4= platform.name
          div#gameBio
            h3.header Bio
            h4= game.bio 
    div(class="reviews__container")
      if !user
        h1 Please log in to leave a review 
        a(href="/login") Click here to login
      else
        if errors
          div(class="review-error")
            ul(class="errors-ul")
              p Oops! Something went wrong:
              each error in errors
                li(class="error-li")= error
        div(class="review__add")
          if reviewByUser
            form(action='/games/:id' method='PUT' class='review-form')
              h1(for='review-text') Edit your review!
              textarea(class="review-text" name="review-text", cols="30", rows="10")= reviewByUser.review
              div(class="ratings__container")
                label(for='rating-score') Your rating:
                  select(class="rating-score" name="rating-score" placeholder=reviewByUser.rating required)
                    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                      if reviewByUser.rating === i
                        option(value=`${i}` selected)= reviewByUser.rating
                      else 
                        option(value=`${i}`)= i 
                button(id="edit-button" type='submit' data-id=`${gameId}` data-name=`${userId}`) Edit Review
                button(class="delete-button" type='submit' data-id=`${gameId}` data-name=`${userId}` data-reviewId=`${reviewByUser.id}`) Delete Review 
          else
            form(action='/games/:id' method='POST' class='review-form')
              h1(for='review-text') Write a review!
              textarea(class="review-text" name="review-text", cols="30", rows="10")
              div(class="ratings__container")
                label(for='rating-score') Your rating:
                  select(class="rating-score" name="rating-score" required)
                    option(value="0" disabled selected) --Please select a rating--
                    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                      option(value=`${i}`)= i
                button(class="review-button" type='submit' data-id=`${gameId}` data-name=`${userId}`) Post Review
        div(class="user-reviews")
          h2(class="reviews__h2") User Reviews
          if !reviews.length
            h2#no__reviews No reviews to display!
          else 
            ul(class="review-list")
              each review, i in reviews
                div(id=`${review.id}`)
                  a(href=`/users/${userList[i]}`)
                    li(class="new-review__username")= `${userLame[i]}'s Review`
                  li(class="new-review__rating")= `${review.rating}/10`
                  li(class="new-review__review")= review.review
