extends layout.pug

append head 
  link(rel="stylesheet", href="stylesheets/single-game.css")

block content
    div#game__title 
      h1= game.gameName
    div#gameBody__container
      div#game__container
        div#gameImg__container
          img(src=game.imgUrl)
        div#gameData
          div#gameRelease
            h2 Release Date
            h3= game.releaseDate
          div#gameDeveloper
            h2 Developer
            h3= game.developer
          div#gamePlatforms
            h2 Platforms
            each platform in platforms
              h3= platform.name
