extends layout.pug

append head 
  link(rel="stylesheet", href="stylesheets/single-game.css")
  script(src="/javascripts/reviews.js" type="module" defer)

block content
  div#game__title 
    h1= game.gameName
  div#gameBody__container
    div#game__container
      div#gameImg__container
        img(src=game.imgUrl)
      div#gameData
        div#gameRelease
          h2 Release Date
          h3= game.releaseDate
        div#gameDeveloper
          h2 Developer
          h3= game.developer
        div#gamePlatforms
          h2 Platforms
          each platform in platforms
            h3= platform.name
        div#gameBio
          h2 Bio  
          h3 Maecenas porta pharetra dui a elementum. Nunc placerat luctus turpis, at sodales nisl sodales nec. Mauris malesuada lacinia quam. Vestibulum ultrices feugiat sapien, eu egestas elit. Etiam at tortor quis eros ullamcorper luctus. Pellentesque sed nisl tincidunt, pellentesque nisl id, gravida erat. Donec ut molestie sem. In vestibulum ipsum eu risus vulputate ullamcorper at sed elit.
    div(class="reviews__container")
      if !user
        h1 Please log in to leave a review 
        a(href="/login") Click here to login
      else
        if errors
          div(class="review-error")
            ul(class="errors-ul")
              p Oops! Something went wrong:
              each error in errors
                li(class="error-li")= error
        form(action='/games/:id' method='post' class='review-form')
          div(class="review__add") 
            if reviewByUser 
              h1(for='review-text') Edit your review! 
              textarea(class="review-text" name="review-text", cols="30", rows="10")= reviewByUser.review
            else 
              h1(for='review-text') Write a review! 
              textarea(class="review-text" name="review-text", cols="30", rows="10")
          div(class="ratings__container")
            if reviewByUser
              label(for='rating-score') Your rating:
							ul 
								each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
									li= i
							button(class="review-button" type='submit' data-id=`${gameId}` data-name=`${userId}`) Edit Review
							button(class="delete-button" type='submit' data-id=`${gameId}` data-name=`${userId}` data-reviewId=`${reviewByUser.id}`) Delete Review 
            else 
              label(for='rating-score') Your rating: 
                select(class="rating-score" name="rating-score" required)
                  option(value="0" disabled selected)
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
                  option(value="4") 4 
                  option(value="5") 5
                  option(value="6") 6
                  option(value="7") 7
                  option(value="8") 8
                  option(value="9") 9 
                  option(value="10") 10
                button(class="review-button" type='submit' data-id=`${gameId}` data-name=`${userId}`) Post Review
          div(class="user-reviews")
            h2(class="reviews__h2") User Reviews
            ul(class="review-list")
              each review, i in reviews
                div.review_wrapper
                  a(href=`/users/${userList[i]}`)
                    li(class="new-review__username")= `${userLame[i]}'s Review` 
                    li(class="new-review__rating")= `${review.rating}/10`
                    li(class="new-review__review")= review.review
